<h1><%= @game.name %></h1>

<p>
  <b>Moderator:</b>
  <%=h @game.moderator.name %>
</p>

<h3>Days</h3>
<p>
<ul>
<% @game.days.each { |day| %>
	<li><%= link_to "Day #{day.seq}", "/games/#{@game.id}/days/#{day.seq}" %> |
		<%= link_to "Game thread", @game.server.uri.merge("showthread.php?t=#{day.topic_id}").to_s %>
	</li>
<% } %>
</ul>
</p>
