<div style="float:right">
  <form id="login_form" name="login_form" action="/user_session" method="post" onsubmit="ajaxForm(this, '#session_info'); return(false);">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <% if current_user.nil? %>
    <label for="user_session_login">Login</label>: <input id="user_session_login" name="user_session[login]" size="10" type="text"> 
    <label for="user_session_password">Password</label>: <input id="user_session_password" name="user_session[password]" size="10" type="password"> 
    <input id="user_session_submit" name="submit" type="submit" value="Log In">
    <% else %>
    Logged in as <%= current_user.login %>
    <input name="_method" type="hidden" value="delete">
    <input id="user_session_submit" name="submit" type="submit" value="Log Out">
    <% end %>
  </form>
</div>
Aroooooooooooo!
<script type="text/javascript">
//  $('#login_form input:submit').button();
</script>